.result-background-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('/resultimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
}


.resultdiv {
  position: relative;
  padding-top: 100px;
  max-width: 900px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  z-index: 1;
}

.resultdiv>h2 {
  font-size: 20px;
  font-family: "rock salt";
  letter-spacing: 3px;
  text-align: center;
  font-weight: 700;
  color: white;
  z-index: 100;
  position: fixed;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
   background-color: rgba(255, 255, 255, 0.15); /* थोड़ा ट्रांसपेरेंट सफेद बैकग्राउंड */
  backdrop-filter: blur(10px); /* पीछे के कंटेंट को ब्लर करेगा */
  -webkit-backdrop-filter: blur(8px); /* Safari के लिए */
  margin-top: 10px;
  padding: 10px 0;
  filter: drop-shadow(5px 4px 2px rgba(56, 52, 52, 0.7));


}

.resultdiv ul {
  list-style: none;
  padding: 20% 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 500px));
  gap: 20px;
  font-family: "rock salt";
}


.resultdiv li {
  background-color: #ffffff8c;
  border-radius: 8px;
  letter-spacing: 5px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease-in-out;
}

.resultdiv li:hover {
  transform: translateY(-5px);
}

.resultdiv li h3 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 900;
  filter: drop-shadow(5px 4px 2px rgba(56, 52, 52, 0.7));

}

.resultdiv li p {
  color: #000000;
  /* This color should now apply */
  font-size: 14px;
  font-weight: 600;
  letter-spacing:4px;
  margin-top: 20px;
  text-align: center;

}
.resultdiv li p span{
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  letter-spacing:4px;
  margin-top: 20px;
  margin-bottom: 10px;
  filter: drop-shadow(5px 4px 2px rgba(56, 52, 52, 0.7));
}