.main {
background-image: url("./guitarimg.jpg");
height: 100vh;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
position: relative;
}

.main>img{
  position: absolute;
  top: 20%;
  height: 300px;
  
}