@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  position: fixed; 
  width: 100%;
  background-color: rgba(54, 52, 52, 0.864);
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px); 
  z-index: 200; 
}


.navlogo {
  
  font-family: "Rock Salt", cursive;
  font-weight: 900;
  font-style: normal;
  color: #E97F18;
}

.navlogo h1 {
  margin: 0; 
  font-size: 28px; 
}

.nav-title-link {
  text-decoration: none; 
  color: inherit; 
}


.desktop-navlinks>ul{
  display: flex;
  gap: 50px;
}

.desktop-navlinks{
  padding-right: 20px;
  font-size: 20px;
}
@media (min-width:800px) and (max-width:1000px)  {
  .desktop-navlinks{
    font-size: 15px;
    padding-right: 0px;
  }

  .desktop-navlinks > ul{
  display: flex;
  gap: 30px;
}
  
}

.nav-link{
color: #ffff;
}

.nav-link:hover{
  color: #E97F18;
}
.nav-link.active-link{
  color: #E97F18;
}




.menu-icon {
  height: 40px;
  width: 40px;
  color: #E97F18; 
  display: none; 
  justify-content: center;
  align-items: center;
  cursor: pointer; 
  z-index: 1000; 
}


.mobile-menu-overlay {
  position: fixed; 
  top: 80px; 
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  background-color: rgb(49, 48, 48);
  display: flex;
  justify-content:center;
  align-items: center;
  font-family: "Plus Jakarta Sans", sans-serif;
  z-index: 1000; 
  animation: fadeIn 0.3s ease-out; 
}

.mobile-menu-content {
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  gap: 20px;
  text-align: center;
}

.mobile-nav-link {
  color: #fff; 
  text-decoration: none;
  font-size: 24px; 
  font-weight: 600;
  padding: 10px 0;
  z-index: 1000;
  position: relative;
  transition: color 0.3s ease;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* for responsivness */
@media (min-width:0px) and (max-width:800px) {
.menu-icon{
  display: flex;
}  
.desktop-navlinks{
  display: none;
}
}